<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/profile_nav.css' />
    <title>Brainiark | Home</title>
</head>
<body>
    <header>
       <% include ../partials/user-nav %>
    </header>

         <section class="home-conntainer">
            <!-- Page Content goes here -->
            <h2><%= user.firstname %></h2>
           <img src="<%= user.profile_picture %>" alt="user profile picture" class="circle responsive-img materialboxed"  height=100
  width=100 />

            <!--quick start guide---->
            <div class="quick-main-container">
                <h5 class="quick-title">Quick Start</h5>
                <div class="quick-container">
                    <div class="row">
                        <div class="col s12 m6 l3 edit">
                            <div class="card-box">
                               <div class="card-box-title  red darken-4">
                                   <span><i class="fas fa-book-open"></i></span>
                                <span class="right">60min</span>
                                </div>
                                <div class="card-content">
                                    <span class="content-title"><h4>Maths</h4></span>
                                    <div>
                                        <span>Take you skills to another level in this quick start maths test</span>
                                        <div class="content-link">
                                            <a class="waves-effect waves-light btn red darken-4">Maths</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 edit">
                            <div class="card-box">
                               <div class="card-box-title  blue darken-3">
                                   <span><i class="fas fa-book-open"></i></span>
                                   <span class="right">60min</span>
                                </div>
                                <div class="card-content">
                                    <span class="content-title"><h4>English</h4></span>
                                    <div>
                                        <span>Take you skills to another level in this quick start maths test</span>
                                        <div class="content-link">
                                            <a class="waves-effect waves-light btn blue darken-3">English</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 edit">
                            <div class="card-box">
                               <div class="card-box-title  pink darken-3">
                                   <span><i class="fas fa-book-open"></i></span>
                                   <span class="right">60min</span>
                                </div>
                                <div class="card-content">
                                    <span class="content-title"><h4>Physics</h4></span>
                                    <div>
                                        <span>Take you skills to another level in this quick start maths test</span>
                                        <div class="content-link">
                                            <a class="waves-effect waves-light btn pink darken-3">Physics</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 edit">
                            <div class="card-box">
                               <div class="card-box-title  cyan darken-2">
                                   <span><i class="fas fa-book-open"></i></span>
                                   <span class="right">60min</span>
                                </div>
                                <div class="card-content">
                                    <span class="content-title"><h4>Chemistry</h4></span>
                                    <div>
                                        <span>Take you skills to another level in this quick start maths test</span>
                                        <div class="content-link">
                                            <a class="waves-effect waves-light btn cyan darken-2">Chemistry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>
        

        <!---footer contents--->
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/profile_nav.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.materialboxed').materialbox();
            $('.scrollspy').scrollSpy();
            $('.tabs').tabs();
            $('.tooltipped').tooltip();
        });
    </script>
</body>
</html>