<!-- Button trigger modal -->
    <button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="border:none;padding:10px;background:rgb(250, 50, 50);cursor:pointer;margin-top:15px;">
    <i class="fas fa-calculator"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">CALCULATOR</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div id="calc-container">
                <form name="calculator" class="form-calc">
                        <input type="text" name="answer"  id="alternativeClear"/>

                        <div class="calc-value">

                            <input type="button" class="calc-button" value=" 1 " onclick="calculator.answer.value += '1' ">
                            <input type="button" class="calc-button" value=" 2 " onclick="calculator.answer.value += '2' ">
                            <input type="button" class="calc-button" value=" 3 " onclick="calculator.answer.value += '3' ">
                            <input type="button" class="calc-button" value=" + " onclick="calculator.answer.value += '+' ">
                            <br />

                            <input type="button" class="calc-button" value=" 4 " onclick="calculator.answer.value += '4' ">
                            <input type="button" class="calc-button" value=" 5 " onclick="calculator.answer.value += '5' ">
                            <input type="button" class="calc-button" value=" 6 " onclick="calculator.answer.value += '6' ">
                            <input type="button" class="calc-button" value=" - " onclick="calculator.answer.value += '-' ">
                            <br />

                            <input type="button" class="calc-button" value=" 7 " onclick="calculator.answer.value += '7' ">
                            <input type="button" class="calc-button" value=" 8 " onclick="calculator.answer.value += '8' ">
                            <input type="button" class="calc-button" value=" 9 " onclick="calculator.answer.value += '9' ">
                            <input type="button" class="calc-button" value=" x " onclick="calculator.answer.value += '*' ">
                            <br />

                            <input type="button" class="calc-button" value=" c " onclick="calculator.answer.value = ''" id="clearButton">
                            <input type="button" class="calc-button" value=" 0 " onclick="calculator.answer.value += '0' ">
                            <input type="button" class="calc-button" value=" = " onclick="validateCalculator()" >
                            <input type="button" class="calc-button" value=" / " onclick="calculator.answer.value += '/' ">
                            <br />

                        </div>

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>