<!-- Button trigger modal -->
<button type="button" class="button__trigger" onClick="calculator()">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path fill="#fff" d="M19.131 24c-.124-.621-.273-1.258-.447-1.841-1.019-3.401-2.688-3.461-2.684-6.494.007-3.556.008-6.055 0-8.455-.003-.824.566-1.26 1.127-1.26.489 0 .973.332 1.067 1.026.38 2.792.877 6.04 1.083 6.715.294.964 1.664.452 1.105-.461-.39-.636-.926-2.198-1.146-3.555 3.756 2.461 4.35 2.074 3.859 5.911-.244 1.912-.426 4.173.904 6.775l-4.868 1.639zm-16.131-21v5h11v-5h-11zm8 15h3v-5h-3v5zm4.499 2.186c-.246-.363-.502-.747-.733-1.186h-12.766v-17h13v2.807c.541-.512 1.257-.812 2-.844v-3.963h-17v21h16.017c-.167-.285-.34-.551-.518-.814zm-5.499-7.186h-3v2h3v-2zm1-1h3v-2h-3v2zm-5-2h-3v2h3v-2zm-3 8h3v-2h-3v2zm3-5h-3v2h3v-2zm1 5h3v-2h-3v2zm3-8h-3v2h3v-2z" /></svg>
</button>

<div class="calculator__container z-depth-4">
  <div id="calculator">
      <button type="button" class="calculator__close" id="calculator__close">
         <i class="material-icons">close</i>
      </button>
      <div id="result">
        <div id="history">
          <p id="history-value"></p>
        </div>
        <div id="output">
          <p id="output-value"></p>
        </div>
      </div>
      <div id="keyboard">
        <button class="operator" id="clear">C</button>
        <button class="operator" id="backspace">CE</button>
        <button class="operator" id="%">%</button>
        <button class="operator" id="/">&#247;</button>
        <button class="number" id="7">7</button>
        <button class="number" id="8">8</button>
        <button class="number" id="9">9</button>
        <button class="operator" id="*">&times;</button>
        <button class="number" id="4">4</button>
        <button class="number" id="5">5</button>
        <button class="number" id="6">6</button>
        <button class="operator" id="-">-</button>
        <button class="number" id="1">1</button>
        <button class="number" id="2">2</button>
        <button class="number" id="3">3</button>
        <button class="operator" id="+">+</button>
        <button class="empty" id="empty" disabled></button>
        <button class="number" id="0">0</button>
        <button class="empty" id="empty" disabled></button>
        <button class="operator" id="=">=</button>
      </div>
  </div>
</div>

<!-- <div class="calculator">
  <div class="calculator__display">0</div>
  <div class="calculator__keys">
    <button class="key--operator" data-action="add">+</button>
    <button class="key--operator" data-action="subtract">-</button>
    <button class="key--operator" data-action="multiply">&times;</button>
    <button class="key--operator" data-action="divide">รท</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>0</button>
    <button data-action="decimal">.</button>
    <button data-action="clear">AC</button>
    <button class="key--equal" data-action="calculate">=</button>
  </div>
</div> -->