    <div id="result">
        <div class="alert alert-success result-container" role="alert">
            <h4 id="sendInformation"></h4>
            <span id="point" class="result-span"></span>
            <hr>
            <p class="mb-0">Try using the calculator and work with time..... 
                <span>
                    <button class="edit-correction" id="core">correction</button>
                </span>
            </p>
        </div>
            <div class="row" id="finished-content">
                ................
            </div>
    </div>

    <div id="correction" style="padding:15px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#correctionCenter">
 Information
    </button>
    <!-- Modal -->
    <div class="modal fade" id="correctionCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-list">
                    <li>Background color <b>RED</b> are your wrong answers</li>
                    <li>Background color <b>GREEN</b> are correction to your answers</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

        <div  class="row" id="correction-list">
            ........
        </div>
        
    </div>