<div class="container">
    <div class="row">
        <div class="col s12 l4">
            <h5>Help Brainiark Grow</h5>
            <p class="grey-text text-darken-2">
                We hope you have enjoyed using Brainiark and if you feel like it has helped you out and want to support
                the team you
                can help us by donating or backing us on Patreon. Any amount would help support and continue
                development on this
                project and is greatly appreciated.
            </p>
            <a href="/support" class="waves-effect waves-light btn-large" style="background:#5fcf80">SUPPORT US</a>
        </div>
        <div class="col s12 l4">
            <h5>Join the Discussion</h5>
            <p class="grey-text text-darken-2">
                We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new
                features, future goals,
                general problems or questions, or anything else you can think of.
            </p>
            <a href="/about" class="waves-effect waves-light btn-large" style="background:#5fcf80">CHAT</a>
        </div>
        <div class="col s12 l4">
            <h5>Connect</h5>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <span id="copyright" style="color:#000"></span>
    </div>
</div>