<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper container">
            <a href="/practice/<%= session %>" class="brand-logo logo-edit" style="color:#424242" title="Brainiark Homepage">
                <%= session%></a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons" style="color:#424242;">
                    menu</i></a>
            <!--Desktop Navigation-->
            <ul class="right hide-on-med-and-down">

                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/practice" class="nav-link">Practice</a></li>
                <li><a href="#services" class="nav-link">Services</a></li>
                <li><a href="/signin" class="nav-s">Sign in</a></li>
                <li><a href="#signup" class="nav-s">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--Mobile Navigation-->
<ul class="sidenav" id="mobile-nav">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/practice" class="nav-link">Practice</a></li>
    <li><a href="#services" class="nav-link">Services</a></li>
    <li><a href="/signin" class="nav-s">Sign in</a></li>
    <li><a href="#signup" class="nav-s">Sign Up</a></li>
</ul>