<div class="navbar-fixed">
    <nav class="blue-grey darken-3" style="padding-bottom:30px;" id="navigation">
        <div class="nav-wrapper container">
            <a href="/home" class="brand-logo logo-edit">Brainiark</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons" style="color:#fff;">menu</i></a>

            <!--Desktop Navigation-->
            <ul class="right hide-on-med-and-down parent main-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/track" class="nav-link">Tracks</a></li>
                <li><a href="/library" class="nav-link">Library</a></li>
                <li class="main-button"><a><img src="<%= user.profile_picture %>"alt="user profile picture" style="margin-top:13px;" class="circle" height=30 width=30/><i class="material-icons right">arrow_drop_down</i></a>
                    <!-----dropdown----->
                    <ul class= "child">
                        <li><a href="/account/<%= user.username%>" >View Profile</a></li>
                        <li><a href="/account">Account Settings</a></li>
                        <li><a href="/signout">signout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</div>

<!--Mobile Navigation-->
<ul class="sidenav" id="mobile-nav">
    <li><a href="/home">Home</a></li>
    <li><a href="/progress">Your Progress</a></li>
    <li><a href="/library" class="nav-link">Library</a></li>
    <li><a href="/track" class="nav-link">Tracks</a></li>
    <li><a href="/signout" class="nav-s">Signout</a></li>
</ul>
