<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/static.css">
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <title>About | Brainiark</title>
</head>
<body>
    <header>
        <% include partials/home-nav %>
    </header>
    
    <section>
        <div class="container">
            <div id="about">
                <h1>About</h1>
                <h4>Learn About Brainiark And The Creator</h4>
            </div>
            <hr>

            <div id="brainiarkabout">
                <h2>Brainiark UI</h2>
                <p>Created and designed by Kingdavid Igbayilola, brainiark provide a informative way in changing the future of preparing for examinations. Brainiark's goal is to develop a systematic UI that allows for a unified
                user experience to change the way higher-level and lower-level prepare for examinations.</p>
            </div>

            <div id="creator">
                <h2>Creator</h2>
                <div class="row">
                    <div class="col s12 m3">

                    </div>
                    <div class="col s12 m9">
                        <h4>Kingdavid Igbayilola</h4>
                        <p>Kingdavid is the creator of brainiark a software engineer and a freelancer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="page-footer">
            <% include partials/footer %>
    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/footer.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.materialboxed').materialbox();
            $('.scrollspy').scrollSpy();
            $('.tabs').tabs();
        });
    </script>
</body>
</html>