<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <title>404 | Brainiark</title>
</head>
<body>
    <header>
            <% include partials/home-nav %>
    </header>
    
    <div class="error-img">
        <img class="responsive-img" width="350"  alt="bunny not found" src="/images/error_bunny.png">
    </div>

    <section class="status">
        <h1><%= status %></h1>
        <h4 class="status-message"><%= message %></h4>
    </section>

    <section>
        <section class="message">
            <h2 style="color:#5fcf80">Are You Lost?</h2>
            <p class="caption">The page you were looking for does not exist. If you think this is a mistake and one of our pages has gone missing,
            throw us an email or send us a tweet. Click below to learn more about our CSS framework.</p>
             <a href="/about" class="waves-effect waves-light btn-large" style="background:#5fcf80;margin:10px">LEARN MORE</a>
        </section>
    </section>

<footer class="page-footer">
            <% include partials/footer %>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/js/footer.js"></script>
<script>
         $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.materialboxed').materialbox();
            $('.scrollspy').scrollSpy();
            $('.tabs').tabs();
        });
</script>
</body>
</html>