<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/static.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/alert.css">
<link rel="stylesheet" href="/stylesheets/reset.css">
  <title>Start Practing at Brainiark For Free</title>
</head>
<body id="home" class="scrollspy">
  <header>
    <div class="navbar-fixed" style="margin:0px;padding:0px">
      <nav class="white">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo logo-edit" style="color:#424242" title="Brainiark Homepage">Brainiark</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons" style="color:#424242;">
              menu</i></a>
          <!--Desktop Navigation-->
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/practice" class="nav-link">Practice</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/signin" class="nav-s">Sign in</a></li>
            <li><a href="/#signup" class="nav-s">Sign Up</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!--Mobile Navigation-->
    <ul class="sidenav" id="mobile-nav">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/practice" class="nav-link">Practice</a></li>
      <li><a href="/about" class="nav-link">About</a></li>
      <li><a href="/signin" class="nav-s">Sign in</a></li>
      <li><a href="/#signup" class="nav-s">Sign Up</a></li>
    </ul>
  </header>

  <section id="prallax_section">
    <div class="box">
      <h4>That Horizon Might Be Closer Than You Think It Time For You To Get There First</h4>
    </div>
  </section>

  <section id="section_features">
    <div class="row">
      <div class="col s12 m7 l3">
        <div class="card">
          <div class="card-image">
          <img src="images/Home/bored.jpg">
          </div>
          <div class="card-content">
            <p>When reading for a test or exams sometimes students get border preparing for it that is where Brainiark comes in line to remove the
              boredom of preparing for you examination 
            </p>
          </div>
          <div class="card-links">
            <a class="waves-effect waves-light btn" href="/practice">practice</a>
          </div>
        </div>
      </div>
      <div class="col s12 m7 l3">
        <div class="card">
          <div class="card-image">
          <img src="images/Home/gathering.jpg">
          </div>
          <div class="card-content">
            <p>Gather around with freinds and family to experience the intresting questions and answers Brainiark has in store for you and others
               to get you set for examination with real time stimulation.</p>
          </div>
           <div class="card-links">
            <a class="waves-effect waves-light btn" href="/about">about</a>
          </div>
        </div>
      </div>
      <div class="col s12 m7 l3">
        <div class="card">
          <div class="card-image">
          <img src="images/Home/reading.jpg">
          </div>
          <div class="card-content">
            <p>But it doesn't mean you should not still pick up a book to read but with brainiark is quite fun to try it out, reading is a good thing and some of Brainiark
              questions will still need you to access your books for more <b>understanding</b>.
            </p>
          </div>
           <div class="card-links">
            <a class="waves-effect waves-light btn" href="privacy">privacy</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Form-->
  <section class="signup-cont section scrollspy" id="signup">
    <div class="row">
        <div class="col s12 l5 info-signup">
          <div class="color-signup">
              <h3>SIGN UP</h3>
          </div>
          <ul>
            <li class="signup-design"><span><% include partials/checkmark %></span> Well performed library</li>
            <li class="signup-design"><span><% include partials/checkmark %></span> The Best Student Experience</li>
            <li class="signup-design"><span><% include partials/checkmark %></span> Access To Failed Questions</li>
          <ul>
          <!-- <div class="signup-learn-more"><button>Learn More</button></div> -->
          <div class="signup-learn-more">
            <a href="/about">
            <button>Learn More</button>
            </a>
          </div>
        </div>
        <div class="col s12 l5 offset-l2">
          <form action="/signup" method="POST">
            <% if(message.length > 0){ %>
              <div id="signinMessage">
                <span><%= message %></span>
              </div>
            <%} %>
            <div class="row">
                  <div class="col s6 l6">
                    <div class="input-field">
                      <i class="fas fa-user prefix"></i>
                      <input type="text" id="firstname" name="firstname" maxlength="12">
                      <label for="firstname">First Name</label>
                    </div>
                  </div>
                  <div class="col s6 l6">
                    <div class="input-field">
                      <input type="text" id="lastname" name="lastname" maxlength="12">
                      <label for="lastname">Last Name</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 l12">
                    <div class="input-field">
                      <i class="material-icons prefix">email</i>
                      <input type="email" id="email" name="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-lock prefix"></i>
                      <input id="password" type="password" name="password" class="validate" minlength="1" maxlength="14">
                      <label for="password">Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 l12">
                    <!-- for desktop -->
                    <div class="input-field right hide-on-med-and-down">
                      <div class="submit-design">
                          <button type="submit" >Submit</button>
                      </div>
                    </div>
                    <!-- for mobile -->
                    <div class="input-field hide-on-large-only show-on-small">
                      <div class="submit-design">
                        <button type="submit">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
          </form>
        </div>
    </div>
  </section>
  <footer>
    <% include partials/footer %>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/javascripts/signin.js"></script>
<script src="/js/footer.js"></script>
<script>
      $(document).ready(function () {
          $('.tabs').tabs();
          $('.tooltipped').tooltip();
          $('.sidenav').sidenav();
          $('.parallax').parallax();
          $('.materialboxed').materialbox();
          $('.scrollspy').scrollSpy();
          $('.tabs').tabs();
        });
</script>
</body>
</html>

