<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/static.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/privacy.css">
    <title>Brainiark Privacy Policy</title>
</head>
<body>
   <header>
        <% include partials/home-nav %>
   </header>
   <section>
    <div class="privacy">privacy <i class="material-icons arrow-design">keyboard_arrow_down
    </i></div>
    <div class="toggle">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/about/#contact">contact</a></li>
            <li class="active"><a href="/privacy">Privacy</a></li>
            <li><a href="#!">Blog</a></li>
            <li><a href="#!">Terms</a></li>
        </ul>
    </div>

       <div class="grid">
           <div class="markdown">
                <h1 class="text-markdown-h1">Privacy Policy</h1>
                <p class="bold">Last Updated Jan. 16, 2019</p>
                <p>
                    The team at Brainiark, Inc. (“Brainiark,” “Company,” “we,” “us,” “our”) knows that you care about how your information
                    is collected, used and shared, and we take your privacy seriously. Please read this Privacy Policy carefully to learn
                    more about our privacy practices.
                </p>
                <h2 class="text-markdown-h2" >What Does This Privacy Policy Cover?</h2>
                <p>
                    This Privacy Policy applies to <a href="https://brainiark.com/" target="_blank">https://brainiark.com/</a>. This Privacy Policy does not apply to websites, applications or
                    other services that provide their own separate privacy statements or policies. Our Website may contain links to other
                    sites but Brainiark is not responsible for the privacy policies and/or practices of these other sites. Visitors to and
                    users of our Website and participants in our education programs are referred to individually as “User” and collectively
                    as “Users.” Any User that creates an account to receive training is referred to as a “Learner.”
                </p>
                <p>
                    Any capitalized terms used herein without definition shall have the meaning given to them in the Brainirk Terms of
                    Service which can be found at <a href="https://brainiark.com/terms/" target="_blank">https://brainiark.com/terms/</a>. By visiting or using our Website, you expressly consent to
                    the information handling practices described in this Privacy Policy.
                </p>

                <hr>

                <h2 class="text-markdown-h2">Children's Privacy</h2>
                <p>
                    Our service is not directed at children under the age of 13 and we do not knowingly collect or maintain information
                    from anyone under the age of 13. If you are under the age of 13, please do not use or access our Website. In the event
                    that we learn that we have collected personal information from a child under the age of 13, we will delete that
                    information as quickly as possible. If you have more questions about this policy or believe we have obtained
                    information from a child under the age of 13, please email us at <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>
                </p>
                <p>
                    Where we collect information of children between 13 to 15 years of age, parents or guardians of these individuals will
                    be required to consent to our collection and use of this information in order for us to deliver services to the
                    individual. For more information about the confirmation process, or how to access your child’s personal data, please
                    contact <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>. Other than as noted, our use of
                    personal information applies to anyone using our
                    services regardless of age. If you are a parent or guardian of an individual under 16, please be sure to read this
                    Privacy Policy thoroughly.
                </p>

                <hr>

                <h2 class="text-markdown-h2">collection and use of information</h2>
                <p>
                    We gather various types of information from our users and visitors to our site, as explained more fully below. Some of
                    this information is provided directly by you and other information may be gathered by observing how you interact with
                    our Website and Services. We use this information to personalize and improve our services, to allow our users to set up
                    a user account and profile, to contact users, to fulfill your requests for certain products and services, to analyze
                    how users utilize our Website, and as otherwise set forth in this Privacy Policy.
                </p>

                <h3 class="text-markdown-h3">information you provide</h3>
                <p>
                    We receive and store any information provided directly by you. For example, we collect personal information such as
                    name, email address, when provided to us through our Website or when you email our support team directly.
                </p>
                <p>
                    While you can choose not to provide certain information to us, please know that this may result in our being unable to
                    register you or you may be unable to take advantage of some of our features and services.
                </p>
                <p>
                    We display a user profile which includes your name, a profile picture if you uploaded one, and how long you have been a
                    member.
                </p>
                <p>
                    To remove or update any personal information, please log into your account settings and remove or modify your personal
                    information in the appropriate fields.
                </p>

                <h3 class="text-markdown-h3">information collected by you</h3>
                <p>
                    Whenever you interact with our Website, we automatically receive and record certain information. This information may
                    include server logs from your browser including your IP address, browser type, internet service provider,
                    referring/exit pages, operating system, date/time stamp, “cookie” information, and the page you requested.
                </p>
                <p>
                    Technologies such as cookies, beacons, tags and scripts are used by us and our partners, affiliates, analytics or
                    service providers. These technologies are used in analyzing trends, administering our Website, tracking users’
                    movements around our Website and to gather demographic information about our user base as a whole. We may receive
                    reports based on the use of these technologies by these companies on an individual as well as aggregated basis.
                    “Cookies” are small text files stored on a user’s computer or mobile device that allow us to recognize your browser or
                    mobile device and tell us how and when pages on our Website are visited and by how many people. You may be able to
                    change the preferences on your browser or mobile device to prevent or limit your computer or device’s acceptance of
                    cookies, but this may limit you from taking advantage of some of our Website’s features.
                </p>
                <p>
                    Also, if you click on a link to a third party website, such third party, for example marketing partners or analytics
                    service providers, may also transmit cookies to you. This Privacy Policy does not cover the use of cookies by any third
                    parties. These cookies are used to analyze trends and remarket/retarget advertisements to non-converted visitors. We
                    may receive reports based on the use of these technologies by these companies on an individual as well as aggregated
                    basis.
                </p>

                <hr>

                <h3 class="text-markdown-h3">blogs, forum and testimonials</h3>
                <p>
                    Our Website offers publicly accessible blogs or community forums. You should be aware that any information you provide
                    in these areas may be read, collected, and used by others who access them. To request removal of your information from
                    our blog or community forum, please contact us at <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>. In some cases, we may not be able to remove
                    personal information, in which case we will let you know if we are unable to do so and why.
                </p>
                <p>
                    We display personal testimonials of satisfied customers on our site in addition to other endorsements. With your
                    consent we may post your testimonial along with your name. If you wish to update or delete your testimonial, you can
                    contact us at <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>.
                </p>
                <p>
                    Anytime you post on our blog please be aware that you are posting to a third party application and we have no access or
                    control over this information. To request removal of your personal information from our blog, you can either directly
                    log into the third party application and remove your comment or you can contact the appropriate third party
                    application. Your interaction with these sites or applications is governed by the privacy policy of the company
                    providing the site or application.
                </p>

                <hr>

                <h3 class="text-markdown-h3">social media and widgets</h3>
                <p>
                    Our Website includes social media features, such as the Facebook button and widgets, such as the Share button or
                    interactive mini-programs that run on our site. These features may collect your IP address, which page you are visiting
                    on our Website, and may set a cookie to enable the feature to function properly. Social media features and widgets are
                    either hosted by a third party or hosted directly on our Website.ou can log in to our site using sign-in services such
                    as Facebook or Google API provider. These services will authenticate your identity and provide you the option to share
                    certain personal information with us such as your name and email address to pre-populate our sign up form. Services
                    like these give you the option to post information about your activities on this Website to your profile page to share
                    with others within your network.
                </p>
                <h3 class="text-markdown-h3">email and other communications</h3>
                <p>
                    We may contact you, by email or other means as you have indicated, to send you information about our products and
                    services, including updates, enhancements, or other related information or to communicate with you about your use of
                    our Website. In addition, where you have agreed, we may send you promotional offers on behalf of other businesses. If
                    you do not want to receive email or other mail from us, please indicate your preference within the account
                    notifications page at <a href="http://brainiark.com/account" target="_blank">http://brainiark.com/account</a>.
                </p>

                <hr>

                <h3 class="text-markdown-h3">will brainiark share my personal information</h3>
                <p>
                    We neither rent, sell nor share your personal information with anyone other than as set forth in this Policy
                </p>
                <p>
                    We may access, read, preserve, and disclose any information that we reasonably believe is necessary to comply with
                    applicable law or court order; to enforce our rights or conditions of use and other agreements; or to protect the
                    rights, property, or safety of Brainiark, our employees, our users, or others. This includes exchanging information
                    with other companies and organizations for fraud protection and credit risk reduction.
                </p>

                <hr>
                
                <h3 class="text-markdown-h3">business and transfers</h3>
                <p>
                    We may choose to buy or sell assets. In these types of transactions, customer information is typically one of the
                    business assets that is transferred. Also, if we (or substantially all of our assets) are acquired, or if we go out of
                    business, enter bankruptcy, or go through some other change of control, personal information would be one of the assets
                    transferred to or acquired by a third party. You will be notified via email and/or a prominent notice on our Website of
                    any change in ownership or use of your personal information, as well as any choices you may have regarding your
                    personal information.
                </p>

                <hr>

                <h3 class="text-markdowm-h3">is my personal information secure?</h3> 
                <p>
                    Brainiark uses reasonable precautions to protect personal information in its possession from loss, misuse and
                    unauthorized access, disclosure, alteration and destruction. For users of our Website, communications between
                    Brainiark’s site and a user’s web browser are accomplished using, at a minimum, 128 bit Secure Sockets Layer (“SSL”)
                    encryption and various third party security certificates to protect information. While we endeavor to protect the
                    privacy of your account and other personal information we hold, no method of transmission over the Internet can
                    guarantee complete security. As a result, we cannot guarantee its absolute security despite using commercially
                    acceptable means to protection your personal information.
                </p>
                <p>
                    Your account is protected by a password for your privacy and security. You are responsible for keeping this information
                    secure in order to prevent unauthorized access to your account and Personal Information. When you provide a password
                    number, we encrypt the transmission of that information.
                </p>

                <hr>

                <h3 class="text-markdown-h3">what personal information can i access?</h3>
                <p>
                    Through your account settings, you may access, and, in some cases, edit or delete the following information:
                </p> 
                <ul class="text-markdown-ul">
                    <li>name and password;</li>
                    <li> email address;</li>
                    <li>user profile information you provide such as your avatar photo, facebook profile, school name,
                        etc.; and</li>
                    <li>user preferences.</li>
                </ul>
                <p>
                    The information you can view, update, and delete may change as the Website changes. If you have any questions about
                    viewing or updating your information, please contact us at <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>.
                    We will respond to your request to
                    access personal information on file with us within a reasonable period of time not greater than 30 days. Please note
                    that you will also be required to authenticate your identity in order to obtain access to any personal information.
                </p>
                
                <hr>

                <h3 class="text-markdown-h3">what choices do i have?</h3>
                <p>
                    You can always choose not to disclose personal information to us, but keep in mind some information may be needed to
                    register with us or to take advantage of some of our special features.
                </p>
                <p>
                    You may be able to add, update, or delete information as explained in the Information You Provide section above.
                </p>
                <p>
                    You may request deletion of your account by contacting us at <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>.
                    Please note that some information
                    may remain in our systems after you request deletion of the information from your account. We will retain your
                    information for as long as your account is active or as needed to provide services. We will also retain and use
                    personal information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
                </p>
                <p>
                    You may request details of your Personal Information, and where necessary, have it corrected. We reserve the right to
                    charge a reasonable fee to cover our administrative costs for providing you with access to your personal data. For more
                    details, please contact us at <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>.
                </p>

                <hr>

                <h2 class="text-markdown-h2">for users of our website from the european union</h3>
                <h3 class="text-markdown-h3">your rights regarding your personal information</h3>
                <p>
                    The European Union’s General Data Protection Regulation and other data protection laws grant you certain rights in
                    relation to your personal information. Where applicable to you, you can:
                </p>
                <ul class="text-markdown-ul">
                        <li>request access to your personal information and how we process it</li>
                        <li>request correction of the personal information that we hold about you</li>
                        <li>ask us to delete your personal information</li>
                        <li>object to us processing your personal information</li>
                        <li>request the restriction of processing of your personal information</li>
                        <li>request the transfer of your personal information to you or to a third party</li>
                </ul>
                <p>
                    Please also note that in some cases, as we have previously noted within this Privacy Policy, you are able to access,
                    correct and update your personal information directly. Should you need additional assistance, please contact us at
                    <a href="mailto:kingdavidsbusiness@gmail.com">kingdavidsbusiness@gmail.com</a>.
                </p>

                <hr>

                <h2 class="text-markdown-h2">changes to this privacy policy</h2>
                <p>
                    We may amend or update this Privacy Policy from time to time and any such changes or updates will be posted to this
                    Privacy Policy, our Website or other place we deem appropriate so that you are informed as to what information we
                    collect, how we use that information, and under what circumstances we may share that information. If we make material
                    changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending
                    you an email prior to the change becoming effective.
                </p>
           </div>
           <aside class="sidebar">
               <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/about/#contact">contact</a></li>
                    <li class="active"><a href="/privacy">Privacy</a></li>
                    <li><a href="#!">Blog</a></li>
                    <li><a href="#!">Terms</a></li>
               </ul>

               <div class="module">
                   <h3 class="text-markdown-h3">questions of concerns</h3>
                   <p>
                        If you have any questions or concerns, please send us a detailed message to  <a href="mailto:kingdavidsbusiness@gmail.com" class="mail">kingdavidsbusiness@gmail.com</a> or to our address
                        below. We will make every effort to resolve your concerns.
                   </p>
                   <p>(+234) 908 246 10265</p>
               </div>
           </aside>
       </div>
   </section>
   <footer>
        <% include partials/footer %>
   </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/js/footer.js"></script>
<script src="/javascripts/privacy.js"></script>
<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.tooltipped').tooltip();
        $('.sidenav').sidenav();
        $('.parallax').parallax();
        $('.materialboxed').materialbox();
        $('.scrollspy').scrollSpy();
        $('.tabs').tabs();
    });
</script>
</body>
</html>