<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <title>Brainiark | Sign in</title>
</head>
<body>
    <header id="signinHeader">
        <div class="navbar-fixed">
            <nav class="white">
                <div class="nav-wrapper container">

                    <a href="/" class="brand-logo logo-edit" style="color:#424242" title="Brainiark Homepage">Brainiark</a>

                    <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons" style="color:#424242;">
                            menu</i></a>
                    <!--Desktop Navigation-->
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="/track" class="nav-link">Tracks</a></li>
                        <li><a href="/#signup" class="nav-s">Sign up </a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--Mobile Navigation-->
        <ul class="sidenav" id="mobile-nav">
             <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/track" class="nav-link">Tracks</a></li>
            <li><a href="/#signup" class="nav-s">Sign up </a></li>
        </ul>
        
        <div class="container login-main ">
            <div class="login-container white">
                <form action="/signin" method="POST">
                    <% if(message.length > 0){ %>
                        <div id="signinMessage">
                            <span> <%= message  %></span>
                        </div>
                    <%} %>
                    <div class="row">
                        <div class="col s12 l12">
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input type="email" id="email" name="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l12">
                            <div class="input-field">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" name="password" class="validate" id="pass">
                                <label for="pass">Password</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s5 l6 left">
                            <div class="input-field">
                                <button class="btn waves-effect waves-light" type="submit" style="background:#5fcf80;">Sign in
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                        <div class="col s5 offset-s2 l6">
                            <div class="input-field">
                                <a href="/reset" class="nav-s">Forgot Password ?</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    
    <footer class="page-footer">
        <% include partials/footer %>
    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/javascripts/signin.js"></script>
    <script>
            $(document).ready(function () {
                    $('.sidenav').sidenav();
                    $('.parallax').parallax();
                    $('.materialboxed').materialbox();
                    $('.scrollspy').scrollSpy();
                    $('.tabs').tabs();
                });
    </script>
</body>
</html>