<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/static.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/individual.css">
    <title> Support Us | Brainiark</title>
</head>
<body>
    <header>
        <% include partials/home-nav %>
    </header>

    <section>
        <div class="container">
            <h1>Support Us</h1>
            <hr>
            <div class="row">
                <div class="col s12 l6">
                    <div>
                        <p class="caption">Brainiark is a web application that is set to relif the stress of practicing for examinations.We hope you have enjoyed
                        using Brainiark and if you feel like it has helped you out and want to support the team you
                        can help us by donating or backing us on Patreon. Any amount would help support and continue development on this
                        project and is greatly appreciated.
                        </p>

                        <h3>PayPal One-Time Donation</h3>
                        <p>The simplest way to support us is with a one-time donation through paypal.</p>
                        <a href="" class="btn-large">DONATE</a>
                    </div>

                    <div>
                        <h3>Patreon</h3>
                        <p>Back us on patreon and get access to reward tiers including things like having your name on this page, and even advertising space on our website</p>
                        <a href="" class="btn-large">BECOME A PATRON</a>
                    </div>
                </div>
                <div class="col s12 l3 offset-l1">
                    <p>hello wolrd</p>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
<% include partials/footer %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script>
            $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.parallax').parallax();
                $('.materialboxed').materialbox();
                $('.scrollspy').scrollSpy();
                $('.tabs').tabs();
            });
    </script>
</body>
</html>