<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/tracks.css' />         
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/profile_nav.css' />
    <title>Track | Math</title>
</head>
<body>
    <header>
        <% include ../../partials/user-nav %>
    </header>

    <section class="section-container">
        <div class="row">
            <div class="col s12 l5 math-left-container">
                <div class="row">
                    <div class="col s12 math-test">
                        <div>
                            <!----math title----->
                            <div class="math-title red darken-4">
                                <span>hey</span>
                                <span class="right">6omin</span>
                            </div>
                            <!------math content------>
                            <div class="math-content">
                                <h5>Maths BS 1</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi, officiis</p>
                                <div class="math-link">
                                        <a class="waves-effect waves-light btn red darken-4 math-btn" href="/track/math/basic-1">Maths BS 1</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 math-test">
                        <div>
                            <!----math title----->
                            <div class="math-title blue darken-3">
                                <span>hey</span>
                                <span class="right">6omin</span>
                            </div>
                            <!------math content------>
                            <div class="math-content">
                                <h5>Maths Bs 1</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi, officiis</p>
                                <div class="math-link">
                                    <a class="waves-effect waves-light btn blue darken-3 math-btn">Maths</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 math-test">
                        <div>
                            <!----math title----->
                            <div class="math-title grey darken-1">
                                <span>hey</span>
                                <span class="right">6omin</span>
                            </div>
                            <!------math content------>
                            <div class="math-content">
                                <h5>Maths Bs 1</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi, officiis</p>
                                <div class="math-link">
                                    <a class="waves-effect waves-light btn grey darken-1 math-btn">Maths</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 math-test">
                        <div>
                            <!----math title----->
                            <div class="math-title blue darken-3">
                                <span>hey</span>
                                <span class="right">6omin</span>
                            </div>
                            <!------math content------>
                            <div class="math-content">
                                <h5>Maths Bs 1</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi, officiis</p>
                                <div class="math-link">
                                    <a class="waves-effect waves-light btn blue darken-3 math-btn">Maths</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 offset-l2">
                    <div class="math-right-container">
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                        <h4>progress bar here</h4>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, porro autem illo aperiam aut impedit ratione omnis? Eius maxime voluptas deserunt sint vitae praesentium corporis, reiciendis fugiat dolor! Iusto, nihil?</span>
                    </div>
        </div>
    </section>

    <footer class="page-footer">
        <% include ../../partials/footer %>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/profile_nav.js"></script>
    <script>
            $(document).ready(function () {
                $('.tooltipped').tooltip();
                $('.sidenav').sidenav();
                $('.parallax').parallax();
                $('.materialboxed').materialbox();
                $('.scrollspy').scrollSpy();
                $('.tabs').tabs();
            });
    </script>
</body>
</html>