@import url('https://fonts.googleapis.com/css?family=Aleo');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.creator{
    height:160px;
    width: 160px;
    border-radius: 50%;
}

#about h1{
    color:#5fcf80;
}

#about h4{
    font-size:1.4rem;
    font-weight:400;
}

#brainiarkabout h2{
    color:#5fcf80;
}

#brainiarkabout p{
  line-height:1.5;
  font-size:larger;
}

#creator h2{
    color:#5fcf80;
}

h1,
h2,
h4{
    font-family: 'Aleo',
    serif;
}

