* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body {
    background: #eee;
}

.account-container {
    width: 90%;
    margin: auto;
    margin-top: 3.5rem;
}

.left-account-container {
    background: #fff;
    border-radius: 5px;
    padding:50px;
}

.right-account-container {
    background: #fff;
    border-radius: 5px;
    padding:50px;
}

.image-container{
    padding:8px;
}

@media (min-width: 320px) and (max-width: 767.98px){
    .account-container{
        display:none;
    }
}
