*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

#signinMessage{
    background:red;
    color:#fff;
    margin:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    border-radius:5px;
}



