 @import url('https://fonts.googleapis.com/css?family=Bungee');
 @import url('https://fonts.googleapis.com/css?family=Righteous');

*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
 nav ul a:hover {
     background: none;
 }

 body{
    line-height: 1.6;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
 }
p{
    display:block;
}
p{
    padding: 0;

}
 .nav-link {
     color: #424242;
     font-family: 'Righteous', cursive;
 }

 .nav-s {
     color: #5fcf80;
     font-family: 'Righteous', cursive;
 }

 .nav-menu {
     color: #424242;
 }

 .logo-edit {
     color: #424242;
     font-family: 'Bungee', cursive;
     text-transform: uppercase;
 }

.error-img{
    margin-left:37pc;
}

.message{
    padding:25px;
    border-top:0.2px solid #bdbdbd;
    border-bottom:0.2px solid #bdbdbd;
    margin:10px 0px 10px 0px;
}

.status {
    padding:25px;
    margin:10px 0px 10px 0px;
    color:#5fcf80;
}

.status-message{
    opacity:0.5;
}

.page-footer{
    background:#fff;
    color:#000;
}

.footer-copyright{
    background:#fff;
}

@media (min-width: 320px) and (max-width:350px) {
    .error-img{
        margin-left:0pc;
    }
}