.logo-edit{
    color:#424242;
}

#footer-main{
    padding:50px;
}

#footer-row{
    margin-bottom:0px;
}

footer{
    margin-top:80px;
}

 .social > li{
     display:inline;
 }

 .social li{
    margin-right:20px;
 }