     @import url('https://fonts.googleapis.com/css?family=Unlock');
     @import url('https://fonts.googleapis.com/css?family=Mukta');
     @import url('https://fonts.googleapis.com/css?family=Righteous');
     @import url('https://fonts.googleapis.com/css?family=Bungee');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .logo-edit {
        font-family: 'Bungee', cursive;
        text-transform: uppercase;
    }


    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .quick-main-container {
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .quick-container {
        background: #fff;
        border-radius: 5px;
        padding: 20px;
    }

    .quick-title {
        text-align: left;
    }

    .card-box {
        background: #eee;
        /*height:200px;**/
        border-radius: 5px;
    }

    .card-box-title {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        color: #fff;
    }

    .card-content {
        padding: 10px;
    }

    .content-link {
        margin-top: 15px;
    }

    .home-conntainer {
        width: 90%;
        margin: auto;
    }

    .section {
        width: 90%;
        margin: auto;
    }

    .nav-container {
        width: 60%;
        margin: auto;
    }

    .track-container {
        width: 95%;
        margin: auto;
    }

    .track-item {
        background: cyan;
        margin: 8px;
    }

    .flex-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-cont>div {
        background-color: #fff;
        width: 400px;
        margin: 10px;
        height: 200px;
        padding: 10px;
    }

    .card-title {
        padding: 5px;
        text-align: center;
        font-family: 'Unlock', cursive;
    }

    .card-body {
        padding: 5px;
        font-family: 'Mukta', sans-serif;
    }

    .notification-icon {
        position: fixed;
        top: 90%;
        left: 95%;
        background: red;
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 15px;
        border-radius: 50%;
    }

    .test-box {
        background: #eee;
        border-radius: 5px;
        margin: 10px;
    }

    .test-box-title {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        color: #fff;
    }

    .test-box-content {
        padding: 10px;
    }

    .test-link {
        margin-top: 15px;
    }

    .section-container {
        margin-top: 80px;
        margin-bottom: 280px;
    }

    @media (min-width: 320px) and (max-width: 767.98px) {
         .section {
             width: 80%;
             margin: auto;
         }

         .nav-container {
             width: 95%;
             margin: auto;
         }

         .flex-cont {
             flex-direction: column;
         }

         .flex-cont>div {
             width: 95%;
             margin: 5px;
         }
         .row .edit{
             padding:0px;
             margin:20px;
         }
    }