.main-nav  li > a:hover {
    background:none;
}

 ul.child {
     display: none;
     position: absolute;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     padding: 5px;
     width: 210px;
    background: #37474f;
 }

 ul.child li {
     width: 100%;
 }

 ul.child li a {
     color: #000;
     border-bottom: 1px dotted black;
 }

 ul.child li a:hover {
     background: #37474f;
     color: #fff;
     border-bottom: none;
 }

 #remove-start{
    width:70%;
    margin:auto;   
 }

 .remove-footer{
    position:absolute;
    top:80%;
 }

ul.child{
    background:transparent;
}

ul.child > li{
    background:#fff;
    color:#000;
}

ul.child:hover{
    background:transparent;
}