 button {
     background: none;
     border: none;
 }

 .button-card {
     display: block;
 }

 .button-design {
     margin: 3px;
     cursor: pointer;
     border: 1px solid orange;
     padding: 10px;
 }

 .button-design:hover {
     background: orange;
     color: white;
 }

 .inner-button {
     padding: 10px;
 }

 .question-container {
     width: 96%;
     margin: auto;
 }

 .answer-design {
     background: orange;
 }

 .answer-design:hover {
     background: orange;
 }

 .question-body {
     background: orange;
     margin-top: 50px;
     padding-top: 50px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 10px;
     height: 350px;
     position: relative;
 }

 .question-information {
     position: absolute;
     top: 60%;
 }

 .answer-container {
     width: 80%;
     margin: auto;
     margin-top: 40px;
 }

 .answer-width {
     margin: 10px;
 }

 .next-prev {
     display: flex;
     flex-wrap: wrap;
     margin-top: 100px;
     margin-left: 40%;
 }

 .prev {
     padding: 5px;
     margin: 20px;
 }

 .next {
     padding: 5px;
     margin: 20px;
 }

 .desktop-section {
     width: 90%;
     margin: auto;
     margin-top: 60px;
 }

 .question-design {
     height: 37rem;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

 .question-count {
     padding: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

 .question-design #question {
     padding-top: 20px;
     padding-left: 60px;
 }

 #question-holder {
     margin-top: 50px;
 }

 .points-design {
     /*height:600px;**/
     height: 38rem;
     padding-top: 20px;
     padding-left: 30px;
 }

 #show-next-question {
     margin-top: 30px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     padding: 10px;
 }

 .next-options {
     margin-right: 10px;
 }
     .quick-main-container {
         margin-top: 10px;
         margin-bottom: 50px;
         margin-left: 10px;
         margin-right: 10px;
     }

     .quick-container {
         background: #fff;
         border-radius: 5px;
         padding: 20px;
     }

     .quick-title {
         text-align: left;
     }

     .card-box {
         background: #eee;
         /*height:200px;**/
         border-radius: 5px;
     }

     .card-box-title {
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
        padding: 15px 10px 30px 10px;
        color: #fff;
     }

     .card-content {
         padding: 20px;
     }

     .content-link {
         margin-top: 15px;
     }


 @media (min-width: 320px) and (max-width:1000px) {
     .button-card {
         display: none;
     }
 }