 @import url('https://fonts.googleapis.com/css?family=Bungee');
 @import url('https://fonts.googleapis.com/css?family=Righteous');

#main{
    background:url('/images/Tmp/man.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

#signinMessage{
    color:#fff;
    background:red;
}

.svg-icon{
    background:#fff;
    border-radius:50%;
    position:absolute;
    top: 10%;
    left: 45%;
    width:100px;
    height:100px;
}

 .section {
     padding-top: 4vw;
     padding-bottom: 4vw;
 }

 nav ul a:hover {
     background: none;
 }

 .nav-link {
     font-family: 'Righteous', cursive;
 }

 .nav-s {
     font-family: 'Righteous', cursive;
 }

 .nav-menu {
     color: #424242;
 }

 .logo-edit {
     font-family: 'Bungee', cursive;
     text-transform: uppercase;
 }

 .login-main {
     margin-top: 100px;
 }

 .login-container {
     width: 60%;
     margin: auto;
     padding: 50px 10px 10px 10px;
     background:linear-gradient(-45deg, rgba(255, 0, 0, .7), blue);
     /* background: linear-gradient(-45deg, rgba(255, 255, 255, .6)
     ,
     rgba(0, 0, 255, .6)); */
    }

 #footer-main{
     color:#fff;
     padding:10px 10px 0px 30px !important;
 }

 #footer-main a{
     color:#fff;
 }

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
}

input[type="text"]:not(.browser-default):focus:not([readonly])+label,
input[type="email"]:not(.browser-default):focus:not([readonly])+label,
input[type="password"]:not(.browser-default):focus:not([readonly])+label {
    color: #fff;
}

.input-field .prefix.active {
    color: #fff;
}


.signin-btn button{
    border:none;
    padding:8px;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:5px;
    background:rgba(0 ,0, 255, .5);
    color:#fff;
    cursor: pointer;
}
.reset-btn a button{
    border: none;
    padding:8px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top:5px;
    background:rgb(255, 0, 0);
    cursor: pointer;
    color:#fff;
}
#invalid{
    color:#fff;
}
#invalid p{
    font-size:17px;
}


 @media (min-width: 320px) and (max-width: 767.98px) {
     .login-container {
         border-radius: 0px;
         width: 100%;
         margin: 0;
         padding: 0px;
     }

     .login-main {
         margin-top: 50px;
     }
    
     #footer-main{
         padding:50px !important;
     }
     .svg-icon {
         top: 11.5%;
         left: 40%;
         width: 80px;
         height: 80px;
     }
     #signin-section{
         margin-top:80px;
     }
 }