 @import url('https://fonts.googleapis.com/css?family=Bungee');
 @import url('https://fonts.googleapis.com/css?family=Righteous');

 * {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }

 a{
     color:black;
 }


 #prallax_section {
     background-image: url('/images/Home/header.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     min-height: 630.3px;
     padding: 5px;
     position: relative;
     background-attachment: fixed, fixed;
     background-color: #4fc3f7;
     margin-bottom: 80px;
 }

 /*  cool red #dc4225 */

 #section_features {
     width: 85%;
     margin: auto;
 }

 #section_features .row .col.l3 {
     width: 33%;
 }

 .signup-cont {
     width: 85%;
     margin: 0 auto;
 }

 .content-links {
     position: absolute;
     top: 83%;
     left: 20%;
     margin: 10px;
     padding: 5px;
 }

 .content-links a {
     margin-left: 50px;
 }

 .section {
     padding-top: 4vw;
     padding-bottom: 4vw;
 }

 nav ul a:hover {
     background: none;
 }

 .nav-link {
     color: #424242;
     font-family: 'Righteous', cursive;
 }

 .nav-s {
     color: #5fcf80;
     font-family: 'Righteous', cursive;
 }

 .nav-menu {
     color: #424242;
 }

 .logo-edit {
     color: #424242;
     font-family: 'Bungee', cursive;
     text-transform: uppercase;
 }

 .tabs .indicator {
     background-color: #1a237e;
 }

 .tabs .tab a:focus,
 .tabs .tab a:focus.active {
     background: transparent;
 }

 .nav-wrapper .container .brand-logo {
     font-size: 1.5rem;
 }

 hr {
     height: 0;
     margin: 30px 0;
     border-top: 1px solid #f0f2f4;
 }

 /* hr {
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 } */

 .footer-text {
     color: #424242;
 }

 .contact {
     border-right: 0.5px solid #424242;
 }

 .footer-link {
     padding-right: 5px;
     color: #5fcf80;
     font-family: 'Righteous', cursive;
 }

 section .section-container {
     width: 95%;
     margin: auto;
 }

 #practice {
     margin-top: 50px;
 }

 .practice-box {
     background: #eee;
     border-radius: 5px;
     margin: 5px;
 }

 .practice-box-title {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     padding: 10px;
     color: #fff;
 }

 .practice-box-content {
     padding: 10px;
 }

 .practice-link {
     margin-top: 15px;
 }

 .box {
     margin: 30px;
     padding: 30px
 }

 .box h4 {
     text-align: center;
     font-size: 3.2rem;
     font-weight: bolder;
     background: -webkit-linear-gradient(#eee, #4fc3f7);
     background-clip: border-box;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .signup-design {
     padding-bottom: 40px;
     font-size: 1.3rem;
 }

 .signup-learn-more a button {
     border: none;
     width: 100%;
     padding: 10px;
     background: #ffb300;
     color: #fff;
     cursor: pointer;
     text-transform: uppercase;
     display:block;
 }


 .color-signup h3 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 4.1rem;
     font-weight: 800;
     color: rgba(225, 225, 225, .1);
     background-image: url('/images/Tmp/color-clip.jpg');
     -webkit-background-clip: text;
     background-clip: text;
     animation: animate 15s linear infinite;
 }

 @keyframes animate {
     0% {
         background-position: left 0px top 10px;
     }
     40% {
         background-position: left 800px top 10px;
     }
 }

 .color-signup {
     text-align: center;
 }

 .card-links a{
     background:#000;
     margin:5px;
 }
 .card-links a:hover{
     background:#ffb300;
 }

 .submit-design button {
     border: none;
     width: 100%;
     padding: 10px;
     background: #ffb300;
     color: #fff;
     cursor: pointer;
     text-transform: uppercase;
 }
 
 @media (min-width:220px) and (max-width: 767.98px) {
     #prallax_section {
         position: relative;
         background-attachment: scroll;
         min-height: 400px;
     }

     #section_features .row .col.s12 {
         width: 100%;
     }

     .box {
         margin: 0;
         padding: 0;
     }
     .box h4 {
         font-weight: bolder;
         font-size: 2rem;
         margin-top: 10rem;
     }
     .info-signup {
         margin-bottom: 50px;
     }

     #footer-main {
         padding: 20px;
     }
 }