body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  text-decoration:none;
}
.nav-bar{
  background:rgb(32, 136, 246);
  /* margin-bottom:10px; */
}
.bg-color{
  background:rgb(32, 136, 246);
}
.logos{
  color:#fff;
  text-transform:uppercase;
  margin-right:50px;
}
.nav-bar{
  padding:13px;
}

.container-1{
  display:flex;
  padding:20px;
  justify-content:center;
  flex-direction:row;
}
.container-1-box {
  width:40%;
}
.form-bg{
  background:#FFF;
}
.form-bg .submit-btn{
  text-align:center;
  margin-top:15px;
  margin-bottom:5px;
}
.form-bg .submit-btn input[type='submit']{
  color:#FFF;
  background:rgb(32, 136, 246);
  border:none;
  padding:10px;
  cursor:pointer;
  width:80%;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.form-bg form input[type='email']{
  margin-top:10px;
  margin-bottom:10px;
}
.box-1{
  margin-right:10px;
  padding:10px;
  border-radius:4px;
  order:2;
}
.box-2 {
  margin-left: 10px;
  color:#fff;
  order:1;
}
.google-btn{
  background:rgba(221, 218, 218, 0.781);
  padding:10px;
  margin:5px;
  margin-bottom:10px;
  text-decoration:none;
  color:#000;
}
.facebook-btn{
  background:rgb(37, 37, 243);
  color: #FFF;
  padding:10px;
  margin:5px;
  margin-bottom:10px;
  text-decoration:none;
}
.google-btn:hover{
  text-decoration:none;
  color:#000;
}
.facebook-btn:hover{
  text-decoration:none;
  color:#fff;
}
.or-class{
  text-align:center;
  padding:5px;
}
.a-logo{
color:rgb(188, 215, 245);
margin-right:50px;
font-weight:400;
}
.a-logo:hover{
  color:#fff;
  text-decoration:none;
}
.a-logo:active{
  color:#fff;
}

.top-nav{
  color:#fff;
}

.top-nav:hover{
  color:#fff;
  font-weight:600;
  text-decoration:none;
}
#question{
  padding:2px;
}
.my-content{
  /* background:rgb(0, 123, 255); */
  color:#fff;
  padding:10px;
  border-radius:3px;
  font-weight: 400;
}
.my-content:hover{
  text-decoration:none;
  /* background:rgb(73, 241, 73); */
  color:#fff;
}
#new-jumbo{
  background:#eee;
  width: 75%;
  margin:auto;
  height:250px;
}
#showInfo{
  margin-top:50px;
  padding:10px;
}
#firstName,
#lastName{
  border:1px rgb(37, 223, 37) solid;
}
.email-valid{
  background:red;
  color:#fff;
  width:20%;
  padding:5px;
  border-radius:5px;
  line-height:1.5;
  margin-top:5px;
}
.brain{
  text-transform:uppercase;
  font-weight:700;
}
.top-nav{
  color:#fff;
  padding:10px;
}
.go-left{
  float:left;
}
 #question {
  padding: 100px;
}
 #timer{
 padding: 5px;
 width:100px;
}
.btn{
  line-height: 2;
  margin-bottom: 10px;
  font-weight: 500;
  margin-left:1.5px;
}
.btn-choices{
  line-height: 1.8;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:5px;
  color:#007bff;
  /* border:none; */
}
.btn-choices:hover{
  background:#007bff;
  color:#fff;
}
 #multiplebutton {
  margin-top:5px;
  padding: 10px;
}
.form_edit{
  width:100%;
  margin-top:25px;
  padding:5px;
}
.form_edit .form_padd{
  padding:5px;
}
.btn:hover {
  background:#007bff;
  /* font-weight:600; */
  color:#fff;
  border: none;
}
 #questionSubject {
  padding: 5px;
  width:100px;
}
#btn0,
#btn1,
#btn2,
#btn3 {
  padding: 5px;
  display: block;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
}

#calculator{
  margin-top:40px;
  margin-left:10px;
}
#main-top{
  display:inline;
}
.boo{
  display:inline-block;
}
.practiceNav{
  background:#007bff !important;
}
.btn-choices{
 padding: 5px;
 display:block;
 width: 95%;
 border: 1px solid #007bff;
 background:#fff;

}
.result-container{
  width:50%;
  margin:auto;
  margin-top:30px;
  margin-bottom:20px;
  
}
#compliment-result{
  width:70%;
  margin:auto;
  margin-top:30px;
}
.welcome-screen{
  background:rgb(32, 136, 246);
  color:#Fff;
}
.learn-more:hover{
  background:#fff;
  color:rgb(32, 136, 246);
}
.home-greet-cards{
  font-family: 'Merriweather', serif;
  font-size:large;
  line-height:1.3;
  margin-top:10px;
}
.row-card{
  margin-bottom:20px;
}
.result-span{
  font-weight:600;text-transform:uppercase;display:inline 
}
#complement{
  display:block;
}
.controller{
  padding-top:20px;
  padding-bottom:20px;
}
#option-control{
  margin-bottom:30px;
}
.my-jumbo{
  background:#eee;
  width:95%;
  margin:0 auto;
  height:400px;
  text-overflow:unset;
  overflow: hidden;
  border-radius:5px;
  margin-bottom:40px;
  padding-bottom:10px;
}
.mybuttons{
  display:inline-block;
  padding:10px;
  margin:5px;
  width:200px;
}
.grid-practice{
  float: left;
  width:15%;
}
.grid-help{
  float:right;
  width:85%;
}
.clear-fix{
  clear:both;
}
.fluid{
  padding:5px;
}
.quiz-container{
  padding-bottom:10px;
}
.lead{
  font-size: small;
  font-weight:600;
  color:red;
  text-transform:capitalize;
  margin-left:50px;
}
.info-list li{
  list-style:square;
}
.c-fluid{
  background:#eee;
  width:80%;
  margin:auto;
  border-radius:5px;
}
.b-button{
  background:#eee;
  margin:auto;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  width:80%;
  margin-top:20px;
  margin-bottom:30px;
}

.row-button{
  /* margin:auto; */
  border:none;
  margin-bottom:5px;
  padding:5px;

}
.single-b{
  margin-left:0px;
  margin-right:0px;
  border-radius:0px;
  background:#007bff;
  color:#fff;
  border:1px solid #007bff;;
}
.single-b:hover{
  color:#000;
  border:1px solid #007bff;
  background:#fff;
  outline:none;
}
#finished-content{
  padding:10px;
}
#lot-buttons{
  padding:5px 30px 5px 30px;
  margin-left:20px;
}
.edit-correction{
  border:none;
  padding:4px;
  color:#fff;
  background:red;
  border-radius:4px;
  margin-left:15px;
}
.edit-correction:hover{
  background:#007bff;
}
.btn-core{
  border:none;
  padding:5px;
  border-radius:3px;
  margin-top:8px;
}
.form-calc{
  width:50%;
  margin:auto;
}
input[name="answer"]{
  width:90%;
  margin-left:13px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border:1px solid rgb(206, 203, 203);
}
.calc-value{
  width:100%;
  padding:5px;
  padding-left:10px;
}
.calc-button{
  padding:10px;
  margin-bottom:7px;
  width:50px;
}
.card-control{
  margin-top:10px;
}
#page-section{
  width:70%;
  margin:auto;
  color:rgb(75, 75, 75);
  line-height:23px;
}
#practice-nav{
  margin-left:20px;
  font-size:15px;
}
#advance-nav{
  margin-left:20px;
  font-size:15px;
}


@media (min-width: 320px) and (max-width: 767.98px) {
.home-greet-cards{
  padding:10px;
  line-height:1.5;
}
.container-1{
  flex-direction:column;
}
.container-1-box{
  width:100%;
}
#practice-nav{
  margin-left:0px;
  font-size:15px;
}
#advance-nav{
  margin-left:0px;
  font-size:15px;
}  
.form-calc{
width:70%;
margin:auto;
}
input[name="answer"]{
width:75%;
margin-left:10px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border:1px solid rgb(206, 203, 203);
}
.calc-value{
width:100%;
padding:5px;
padding-left:10px;
}
.calc-button{
  padding:10px;
  margin-bottom:4px;
  width:40px;
}

.b-button{
  padding-right:10px;
}
.btn-choices{
  width:100%;
}
.c-fluid{
  width:90%;
  margin:auto;
}
#question{
  padding:5px
 }
 .result-container{
   width: 80%;
   padding:10px;
 }
 .result-control{
   margin-bottom:20px;
 }
 .lead{
  margin-left:0px;
}
 .my-jumbo{
   height:250px;
   padding-top:2px;
   padding-left:2px;
   padding-right:2px;
   padding-bottom:2px;
 }
 #new-jumbo{
  background:#eee;
  width:100%;
  height:350px;
 }
 .email-valid{
   width:100%;
 }
 .controller{
  padding-top:5px;
  padding-bottom:10px;
 }
 .logos{
  display:block;
  text-align:center;
  padding-bottom:5px;
}
 .nav-bar{
  padding:15px;
}
.a-logo{
  margin-right:5px;
}
.grid-practice{
  float: left;
  width:5%;
  margin-right:60px;
}
.grid-help{
  float:right;
  width:65%;
  padding:5px;
}
.fluid{
  padding:5px;
}
.box-1{
  order:1;
}
.box-2{
  order:2;
}
}
