* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}


.section-container {
    width: 95%;
    margin: auto;
    margin-top: 3.5rem;
}

.basic-track {
    display: flex;
    flex-direction: column;
}

.section-flex {
    display: flex;
    flex-direction: row;
}

.section-left {
    width: 60%;
}

.section-right {
    width: 40%;
}

.flex-items {
    height: 300px;
}

.card-edit {
    border: 0.5px solid #64b5f6;
}

.card-info {
    padding: 20px;

}

.math-right-container {
    background: #eee;
    border-radius: 3px;
    padding:50px;
}

.math-test {
    margin-bottom: 70px;
}

.math-title {
    padding: 10px;
    color: #eee;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.math-content {
    background: #eee;
    padding: 15px;
}

.math-link {
    margin-top: 30px;
    margin-bottom: 15px;
}



@media (min-width: 320px) and (max-width:1000px) {
    .section-left {
        width: 100%;
    }

    .section-right {
        width: 100%;
    }

    .section-flex {
        display: flex;
        flex-direction: column;
    }

    .section-flex :nth-child(1) {
        order: 2;
    }

    .section-flex :nth-child(2) {
        order: 1;
    }

    .flex-items {
        height: 247px;
    }
}