.practice-box {
    background: #eee;
    border-radius: 5px;
    margin: 5px;
}

.practice-box-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    color: #fff;
}

.practice-box-content {
    padding: 10px;
}

.practice-link {
    margin-top: 15px;
}