<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/static.css">
    <link rel="stylesheet" href="/stylesheets/question-static.css">
    <link rel="stylesheet" href="/stylesheets/timer.css">
    <link rel="stylesheet" href="/stylesheets/endresult.css">
    <title>
        <%= session%> | Practice</title>
</head>

<body>
    <header>
        <% include ../partials/question-nav %>
    </header>
    <main>
        <% include ../partials/question-controller %>
    </main>
    <main>
        <% include ../partials/endresult %>
    </main>
    <script>
        document.getElementById('result-cont').style.display = 'none'
        document.querySelector('.correction-const').style.display = 'none'
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/data/datacontroller.js"></script>
    <script src="/data/account.js"></script>
    <script src="/javascripts/controller/controller.js"></script>
    <script src="/javascripts/timer.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.materialboxed').materialbox();
            $('.scrollspy').scrollSpy();
            $('.tabs').tabs();
            $('.greet')
                .fadeIn();
        });
    </script>
</body>

</html>